/* .nav {
          &__inner {
                    padding-left: 0;
                    list-style: none;
                    display: flex;
          }

          &__item {
                    color: white;
                    margin-right: 1rem;
          }

          &__link {
                    color: white;
                    text-decoration: none;
          }

          &__item--active {
                    color: red;
          }
} */
.navbar {
          background: getColour(beige);

          .navbar-brand {
                    color: getColour(darker);
          }
          .navbar__link {
                    color: getColour(dark);
          }
}
.link--active {
          color: getColour(accent);
}
